body {
    font-family: Arial;
}


.userPoint {
    visibility: hidden;
    fill: purple;
}

h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 20px;
}

/* Set additional styling options for the columns */
.column {
    float: left;
}

/* Set width length for the left, right and middle columns */
.left {
    width: 60%;
}
    
.right {
    width: 40%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.axis {
    stroke:"black";
    stroke-width: 6;
    fill:"black";
}

.point {
    fill: purple;
}

.point:hover {
    fill: yellow !important;
}

.userPoint:hover {
    fill: yellow !important;
}